html,body{
    
        background-color:#f9c382;
      
       
    }
     
    #logo{                        /* logo 圖片  */
    
        position:absolute;
        top:0;
        left:0;
    
        
    }
    
    
    #menu{                          /*選單*/
    
        position:absolute;
        left:600px;
        top:660px;
        z-index:3;
    }
    
    #countdown-button{              /*  start按鈕  */
                
                position:absolute;  
                left:580px;
                top:710px;
                z-index:3;
                width:100px;
                height:30px;
                border:none;  /* 把border 改成none 就可以調整button高度了 */
                

            }

            #countdown-button:hover{

                background-color:#CB4042;
                color:white;
                cursor:pointer;

            }
        
    
    #pic1,#pic2,#pic3,#pic4{   /* 選單圖片 */
    
    
    
        top:460px;
        left:500px;
        position:relative;
        z-index:3;
        display:none;
    
      
    }
    
    #pic0{                        /* 選單主圖 */
    
        top:460px;
        left:500px;
        position:relative;
        z-index:3;
        display:block;
  
    
    }
    
    #pot{                            /* 鍋子 */
     
        top:200px;
        left:200px;
        z-index:0;
        position:absolute;
        display:block;
    
    }
    #potup{                            /* 鍋蓋 */
    
        position:absolute;
        z-index:3;
        top:120px;
        left:210px;
        display:block;
    
    }
    #potup:hover{

        cursor: pointer;
    }


/*------------ 動畫效果--------------------------------------------- */

    .move{                                /* 鍋蓋點擊動畫效果 */
        
            animation: aaa 0.5s 1;
           
        }
        
        @-webkit-keyframes aaa{
        
          0%{
        
            -webkit-transform:rotate(0deg)

          }25%{
        
            -webkit-transform:rotate(10deg)

          }50%{
        
            -webkit-transform:rotate(-10deg)

          }75%{
        
            -webkit-transform:rotate(10deg)

          }100%{
        
            -webkit-transform:rotate(0deg)

          }
        }
/* ------------------------------------------------------- */

        #cloudone{                  /* 雲朵 左邊*/

            position:absolute;
            z-index:-1;
            top:330px;
            left:380px;
           
          


        }


        .flow{                      /* 雲朵左邊  點鍋蓋往左跑*/

      
          animation: cloudflow 1.5s 1;

        }

        @-webkit-keyframes cloudflow{

            0%{ opacity:0}
           
            70%{ opacity:0.8 ;left:50px}

            100%{ opacity:0 ;left:50px}

        }

        /* -------------------------------------------------- */


        .finish{                         /*倒數完成  蓋子往上打開*/
            transform-origin: 80% 60%;
            animation: finish 0.85s 1;
            

        }

        @-webkit-keyframes finish{

            0%{
                
               -webkit-transform:rotate(0deg)
         

            }100%{

                -webkit-transform:rotate(15deg)
            }
        }

            .finishflowone{

                animation: cloudflowfinone 1.5s 1;


            }

            @-webkit-keyframes cloudflowfinone{
                
   
                                
                0%{ opacity:0 }
                
                 70%{ opacity:0.8 ;left:50px ;top:200px}
     
                 100%{ opacity:0 ;left:50px;top:250px}

            }








            
        
            
                    

   

  

    